
.wrapper{
    margin: 0 5% 0 5%;
    padding: 0;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    /* background-color: #141414; */
    background-image: url(../images/background.jpg);
    color: #c0c0c0;
}

.heading{
    font-size: 2.2vw;
    color: #c0c0c0;
    text-align: center;
}

.filmmaker{
    border-top: 1px dashed #c0c0c0;
    border-bottom: 1px dashed #c0c0c0;
    display: grid;
    grid-template-columns: 5% 1fr 10%;
    padding-top: 1%; 
    padding-bottom: 2%;
    font-size: 1.5vw;
    text-align: start;
}

.position{
    font-size: 1.2vw;
}
.name{
    margin: 0;
}
.filmmaker__info{
    display: flex;
    flex-direction: column;
}
.filmmaker__number{
    padding-left: 2%;
    width: 2vw;
}
.filmography{
    padding-right: 1%;
    display: flex;
    align-items: center;
}

.filmography__link{
    color: #c0c0c0;
    text-decoration: none;
    font-size: 1vw;
}
.filmography__link:hover{
    text-decoration: dashed;
    color: azure;
}

.film-list__heding{
    padding-top: 3%;
    padding-bottom: 1%;
    font-size: 1.9vw;
}
.film-list__container{
    font-size: 1.5vw;
    padding-bottom: 5%;
}
